ul, p, h1, h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    text-align: center;
}

body {
    background-color: rgb(225, 225, 225);
    padding-bottom: 100px;
}

.main-arcticle {
    display: flex;
    justify-content: center;
}

.main-second-arcticle {
    display: flex;
    justify-content: center;
}

.main-photo {
    display: flex;
    justify-content: center;
    
}

.main-about {
    display: flex;
    justify-content: center;
}

.main-about-info {
    display: flex;
    justify-content: center;
}

.main-skills {
    display: flex;
    justify-content: center;
}

.main-skills-info {
    display: flex;
    justify-content: center;
    border-bottom: dotted;
    border-color: white;
}

.main-codexamp {
    display: flex;
    justify-content: center;
}

.main-codexamp-img {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.main-container-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    border:black;
    border: dotted;
    border-color: white;
}

.main-container-skills {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: dotted;
    border-color: white;
    border-left: none;
    
}
.main-hobby{
    display: flex;
    justify-content: center;
}
@media (max-width: 1139px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
    }
    .main-container-info {
        width: 100%;
        justify-content: center;
    }
    .main-container-skills {
        width: 100%;
        justify-content: center;
    }
}